<div class="breadcrumb-container">
  <ul class="breadcrumb">
    <li><%= link_to Domain.model_name.human(count: 2), root_path %></li>
    <li><%= link_to @domain.name, domain_path(@domain) %></li>
    <li class="active"><%=t('.title')%></li>
  </ul>
</div>

<h3><%=t('.title')%></h3>

<%= render 'form' %>
