<%= form_for @form_object, remote: true, html: {role: :form} do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', autofocus: true %>
    <span class="help-block"></span>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
    <span class="help-block"></span>
  </div>
  <div class="form-group">
    <%= f.label :unencrypted_password %>
    <%= f.password_field :unencrypted_password, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :enabled %>
      <%= User.human_attribute_name :enabled %>
    </label>
  </div>

  <%= link_to_cancel domain_path(@domain, anchor: 'users') %>
  <%= f.submit class: 'btn btn-primary' %>

  <% unless @user.new_record? %>
    <%= link_to_delete user_path(@user) %>
  <% end %>
<% end %>
