<h3><%=t('.title')%></h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= Workgroup.human_attribute_name :id %></th>
      <th><%= Workgroup.human_attribute_name :name %></th>
    </tr>
  </thead>

  <tbody>
    <% if @workgroups.empty? %>
      <tr>
        <td colspan="100%" class="text-center"><%=t('tables.no_records')%></td>
      </tr>
    <% end %>
    <% @workgroups.each do |workgroup| %>
      <tr>
        <td><%= link_to workgroup.id, edit_workgroup_path(workgroup) %></td>
        <td><%= workgroup.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to_new new_workgroup_path %>
