<!DOCTYPE html>
<html>
<head>
  <title><%=SETTINGS[:brand]%></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="main">
  <div class="container">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to SETTINGS[:brand], root_path, class: 'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav"></ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
